.contact{
    display: grid;
    grid-template-areas: 'left mailing';
    min-height: 92vh;

    .left{
        grid-area: left;
        width: 80%;
        margin: auto;
        text-align: start;
        border-right: 1px solid;
        min-height: 80%;

        .social {
            display: flex;
            flex-direction: column;
            padding: 15px 0;

            h1 {
                color: rgb(29, 26, 26);
            }
            
            a{
                display: block;
                min-width: 10vw;
                min-height: 2vh;
                margin: 5px 0;
                text-decoration: none;
                color: rgb(206, 188, 188);
            }
        }
    }

    .mailing {
        grid-area: mailing;
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: 80%;
        margin: auto;
        background-color: rgb(243, 236, 226);
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 26px -1px rgba(82,51,82,1);
        -moz-box-shadow: 0px 0px 26px -1px rgba(82,51,82,1);
        box-shadow: 0px 0px 26px -1px rgba(82,51,82,1);
        border-radius: 10px 10px 10px 10px;

    
        h1{
            min-height: 10vh;
            padding: 10% 10%;
        }
    
        textarea {
            margin: 1vh 2vw;
            padding: 2vh 2vw;
            border-radius: 5px;
        }

        .message {
            min-height: 20vh;
            max-height: 25vh;
            overflow-y: scroll;
        }
    
        .button {
            width: 20%;
            align-self: flex-end;
            background-color:yellowgreen;
            border: none;
            min-height: 4vh;
            border-radius: 5px;
            margin: 2vh 2vw
        }
    }
}

@media only screen and (max-width: 600px) {
    .contact {
        display: flex;
        flex-direction: column;

        .mailing {
            min-height: 70vh;
            margin: 7vh auto;
        }

        .left {
            min-height: 50vh;
            margin: auto;
            border: none;


            .location {

                p {
                    padding: 2vh 0;
                    color: white;
                }
            }
        }
    }

}
