* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  text-align: center;
  background: rgb(49,0,0);
  background: -moz-linear-gradient(0deg, rgba(49,0,0,1) 0%, rgba(255,137,57,1) 77%, rgba(255,137,57,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(49,0,0,1) 0%, rgba(255,137,57,1) 77%, rgba(255,137,57,1) 100%);
  background: linear-gradient(0deg, rgba(49,0,0,1) 0%, rgba(255,137,57,1) 77%, rgba(255,137,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#310000",endColorstr="#ff8939",GradientType=1);
}

.navbar {
  min-height: 8vh;
}

.main {
  min-height: 92vh;
}


